@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'manier-regular';
  src: url('../public/manier-regular.otf');
}

@font-face {
  font-family: 'manier-medium';
  src: url('../public/manier-medium.otf');
}

@font-face {
  font-family: 'manier-bold';
  src: url('../public/manier-bold.otf');
}

@font-face {
  font-family: 'manier-light';
  src: url('../public/manier-light.otf');
}

@font-face {
  font-family: 'manier-heavy';
  src: url('../public/manier-heavy.otf');
}

@font-face {
  font-family: 'manier-black';
  src: url('../public/manier-black.otf');
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ol {
  list-style: decimal;
}

input:focus {
  border: 1px solid white;
}

textarea:focus {
  border: 1px solid white;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select option {
  padding: 0.5rem;
}

@media screen and (max-width: 480px) {
  .mobile {
    height: 600px;
  }
}

@media (max-width: 480px) {
  .grid-cols-2 > div {
    grid-column: span 2;
  }
}

.borderTop {
  border-top: 1px solid #898989;
}

.navsmooth {
  transition: all 0.2s ease-in-out;
}

.menu-slide-enter {
  transform: translateX(100%);
}

.menu-slide-enter-active {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

.menu-slide-exit {
  transform: translateX(0);
}

.menu-slide-exit-active {
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

@media (max-width: 480px) {
  .buttonfull {
    width: 100%;
  }  
}

@media (max-width: 480px) {
  .buttonhalf {
    width: 50%;
  }  
}

.hash-span {
  display: flex;
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.02);
  background-color: darkorange;
}

.grow2 {
  transition: all .2s ease-in-out;
}
.grow2:hover {
  transform: scale(1.02);
}

.grow3 {
  transition: all .2s ease-in-out;
}
.grow3:hover {
  transform: scale(1.01);
}

.grow4 {
  transition: all .2s ease-in-out;
}
.grow4:hover {
  transform: scale(1.02);
}